In [1]:
import os
import sys
# # Here you need to have same Python version on your local machine and on worker node i.e. EC2. here both should have python3.
# os.environ["PYSPARK_PYTHON"] = "/bin/python3"
# os.environ["JAVA_HOME"] = "/usr/java/jdk1.8.0_161/jre"
# os.environ["SPARK_HOME"] = "/home/ec2-user/spark-2.4.4-bin-hadoop2.7"
# os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.7-src.zip")
# sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

In [3]:
# from pyspark import SparkContext, SparkConf
# conf = SparkConf().setAppName("jupyter_Spark").setMaster("yarn-client")
# sc = SparkContext(conf=conf)
# sc

In [ ]:
# Run this cell if you are using sklearn for the first time
# ! pip3 install sklearn --user

In [ ]:
# Creating Spark Session

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Mllib_Overview').getOrCreate()

23/08/07 10:11:55 WARN Utils: Your hostname, ptn-PC resolves to a loopback address: 127.0.1.1; using 192.168.1.100 instead (on interface wlx30de4b211ef8)
23/08/07 10:11:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/07 10:11:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/07 10:11:57 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
#Reading Data from a CSV file 
#Inferring Schema and Setting Header as True
#Upload the dataset to your amazon s3 bucket then use the following command to read the data
df1 = spark.read.csv('./auto-miles-per-gallon-Raw.csv', header=True, inferSchema=True)

In [6]:
#Displaying samples
df1.show()

+-----+---------+------------+----------+------+------------+---------+--------------------+
|  MPG|CYLINDERS|DISPLACEMENT|HORSEPOWER|WEIGHT|ACCELERATION|MODELYEAR|                NAME|
+-----+---------+------------+----------+------+------------+---------+--------------------+
|   18|        8|       307.0|       130|  3504|        12.0|       70|chevrolet chevell...|
|   15|        8|       350.0|       165|  3693|        11.5|       70| buick skylark 320""|
|   18|        8|       318.0|       150|  3436|        11.0|       70|plymouth satellite""|
|   16|        8|       304.0|       150|  3433|        12.0|       70|     amc rebel sst""|
|   17|        8|       302.0|       140|  3449|        10.5|       70|       ford torino""|
|   15|        8|       429.0|      Null|  4341|        10.0|       70|  ford galaxie 500""|
|   14|        8|       454.0|       220|  4354|         9.0|       70|  chevrolet impala""|
|   14|        8|       440.0|       215|  4312|         8.5|       70| plymouth fury iii""|
|   14|        8|       455.0|    asdasd|  4425|        10.0|       70|  pontiac catalina""|
|   15|        8|       390.0|       190|  3850|         8.5|       70|amc ambassador dpl""|
|   NA|        4|       133.0|       115|  3090|        17.5|       70|citroen ds-21 pal...|
|hellp|        8|       350.0|       165|  4142|        11.5|       70|chevrolet chevell...|
|   NA|        8|       351.0|       153|  4034|        11.0|       70|  ford torino (sw)""|
|   NA|        8|       383.0|       175|  4166|        10.5|       70|plymouth satellit...|
|   NA|        8|       360.0|       175|  3850|        11.0|       70|amc rebel sst (sw)""|
|   15|        8|       383.0|       170|  3563|        10.0|       70|dodge challenger ...|
|   14|        8|       340.0|       160|  3609|         8.0|       70|plymouth 'cuda 340""|
|   NA|        8|       302.0|       140|  3353|         8.0|       70|ford mustang boss...|
|   15|        8|       400.0|       150|  3761|         9.5|       70|chevrolet monte c...|
|   14|        8|       455.0|       225|  3086|        10.0|       70|buick estate wago...|
+-----+---------+------------+----------+------+------------+---------+--------------------+
only showing top 20 rows

In [7]:
#Printing Schema
df1.printSchema()

root
 |-- MPG: string (nullable = true)
 |-- CYLINDERS: integer (nullable = true)
 |-- DISPLACEMENT: double (nullable = true)
 |-- HORSEPOWER: string (nullable = true)
 |-- WEIGHT: integer (nullable = true)
 |-- ACCELERATION: double (nullable = true)
 |-- MODELYEAR: integer (nullable = true)
 |-- NAME: string (nullable = true)

In [8]:
#Statistically summarizing about the data
df1.describe().show()

23/08/07 10:12:27 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+--------------------+
|summary|               MPG|        CYLINDERS|      DISPLACEMENT|        HORSEPOWER|            WEIGHT|      ACCELERATION|         MODELYEAR|                NAME|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+--------------------+
|  count|               406|              406|               406|               406|               406|               406|               406|                 406|
|   mean|23.514572864321615|5.475369458128079| 194.7795566502463|104.56675062972292|2979.4137931034484|15.519704433497521| 75.92118226600985|                null|
| stddev| 7.815984312565783|1.712159631548529|104.92245837948867|  38.1556978120705| 847.0043282393513|2.8033588163425462|3.7487373454558743|                null|
|    min|                10|                3|              68.0|               100|              1613|               8.0|                70|amc ambassador br...|
|    max|             hellp|                8|             455.0|               sda|              5140|              24.8|                82|         vw rabbit""|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+--------------------+

In [9]:
df1.columns

['MPG',
 'CYLINDERS',
 'DISPLACEMENT',
 'HORSEPOWER',
 'WEIGHT',
 'ACCELERATION',
 'MODELYEAR',
 'NAME']

In [10]:
#Convert the datatype of the columns
#Casting MPG, HORSEPOWER, and other columns from String to Double

from pyspark.sql.types import * 

cols = ['MPG', 'CYLINDERS', 'DISPLACEMENT', 'HORSEPOWER', 'WEIGHT', 'ACCELERATION', 'MODELYEAR' ]

for i in cols:
    df1 = df1.withColumn(i, df1[i].cast(DoubleType()))

In [11]:
df1.show()

+----+---------+------------+----------+------+------------+---------+--------------------+
| MPG|CYLINDERS|DISPLACEMENT|HORSEPOWER|WEIGHT|ACCELERATION|MODELYEAR|                NAME|
+----+---------+------------+----------+------+------------+---------+--------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|     70.0|chevrolet chevell...|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|     70.0| buick skylark 320""|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|     70.0|plymouth satellite""|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|     70.0|     amc rebel sst""|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|     70.0|       ford torino""|
|15.0|      8.0|       429.0|      null|4341.0|        10.0|     70.0|  ford galaxie 500""|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|     70.0|  chevrolet impala""|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|     70.0| plymouth fury iii""|
|14.0|      8.0|       455.0|      null|4425.0|        10.0|     70.0|  pontiac catalina""|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|     70.0|amc ambassador dpl""|
|null|      4.0|       133.0|     115.0|3090.0|        17.5|     70.0|citroen ds-21 pal...|
|null|      8.0|       350.0|     165.0|4142.0|        11.5|     70.0|chevrolet chevell...|
|null|      8.0|       351.0|     153.0|4034.0|        11.0|     70.0|  ford torino (sw)""|
|null|      8.0|       383.0|     175.0|4166.0|        10.5|     70.0|plymouth satellit...|
|null|      8.0|       360.0|     175.0|3850.0|        11.0|     70.0|amc rebel sst (sw)""|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|     70.0|dodge challenger ...|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|     70.0|plymouth 'cuda 340""|
|null|      8.0|       302.0|     140.0|3353.0|         8.0|     70.0|ford mustang boss...|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|     70.0|chevrolet monte c...|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|     70.0|buick estate wago...|
+----+---------+------------+----------+------+------------+---------+--------------------+
only showing top 20 rows

### Handling Missing Values

In [12]:
df1.show() #Displaying samples

+----+---------+------------+----------+------+------------+---------+--------------------+
| MPG|CYLINDERS|DISPLACEMENT|HORSEPOWER|WEIGHT|ACCELERATION|MODELYEAR|                NAME|
+----+---------+------------+----------+------+------------+---------+--------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|     70.0|chevrolet chevell...|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|     70.0| buick skylark 320""|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|     70.0|plymouth satellite""|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|     70.0|     amc rebel sst""|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|     70.0|       ford torino""|
|15.0|      8.0|       429.0|      null|4341.0|        10.0|     70.0|  ford galaxie 500""|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|     70.0|  chevrolet impala""|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|     70.0| plymouth fury iii""|
|14.0|      8.0|       455.0|      null|4425.0|        10.0|     70.0|  pontiac catalina""|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|     70.0|amc ambassador dpl""|
|null|      4.0|       133.0|     115.0|3090.0|        17.5|     70.0|citroen ds-21 pal...|
|null|      8.0|       350.0|     165.0|4142.0|        11.5|     70.0|chevrolet chevell...|
|null|      8.0|       351.0|     153.0|4034.0|        11.0|     70.0|  ford torino (sw)""|
|null|      8.0|       383.0|     175.0|4166.0|        10.5|     70.0|plymouth satellit...|
|null|      8.0|       360.0|     175.0|3850.0|        11.0|     70.0|amc rebel sst (sw)""|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|     70.0|dodge challenger ...|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|     70.0|plymouth 'cuda 340""|
|null|      8.0|       302.0|     140.0|3353.0|         8.0|     70.0|ford mustang boss...|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|     70.0|chevrolet monte c...|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|     70.0|buick estate wago...|
+----+---------+------------+----------+------+------------+---------+--------------------+
only showing top 20 rows

In [13]:
#Removing Rows with missing values
#Dataframe.na.drop removes any row with a NULL value

df2 = df1.dropna()

In [14]:
df2.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+
|summary|               MPG|         CYLINDERS|      DISPLACEMENT|        HORSEPOWER|            WEIGHT|      ACCELERATION|         MODELYEAR|                NAME|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+
|  count|               389|               389|               389|               389|               389|               389|               389|                 389|
|   mean|23.505912596401025|5.4575835475578405| 193.1272493573265|103.93830334190231|2970.8817480719795| 15.56992287917736| 76.02570694087403|                null|
| stddev|7.8035440668103035|1.7024467902237224|103.52041672172308|37.849829402174656|  846.593666699619|2.7406345198432867|3.6600880681307015|                null|
|    min|               9.0|               3.0|              68.0|              46.0|            1613.0|               8.0|              70.0|amc ambassador br...|
|    max|              46.6|               8.0|             455.0|             230.0|            5140.0|              24.8|              82.0|         vw rabbit""|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+

### Replace missing values with approximate mean values

### Estimators 

An estimator is a stage of the learning algorithm that fits a model on a dataset. The whole process can be denoted as follows DataFrame =[fit]=> Model. An estimator is executed during the step of building a model using existing data. A model, which will be made by the estimator, itself serves as a transformer. Further, an estimator is available in Java through the Estimator class. The .fit() method, which is used for building a model, is available through this class.

#### Imputer


The Imputer estimator completes missing values in a dataset, either using the mean or the median of the columns in which the missing values are located. The input columns should be of DoubleType or FloatType

In [15]:
from pyspark.ml.feature import Imputer

# Imputer method automatically replaces null values with mean values.
imputer = Imputer(inputCols = ["MPG","HORSEPOWER"], outputCols = ["MPG-Out","HORSEPOWER-Out"])

#Fitting DataFrame into a model
imputeModel = imputer.fit(df1) 

#Transforming the DataFrame
df3=imputeModel.transform(df1)

In [16]:
#Describing the dataframe
df3.show()
df3.describe().show();

+----+---------+------------+----------+------+------------+---------+--------------------+------------------+------------------+
| MPG|CYLINDERS|DISPLACEMENT|HORSEPOWER|WEIGHT|ACCELERATION|MODELYEAR|                NAME|           MPG-Out|    HORSEPOWER-Out|
+----+---------+------------+----------+------+------------+---------+--------------------+------------------+------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|     70.0|chevrolet chevell...|              18.0|             130.0|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|     70.0| buick skylark 320""|              15.0|             165.0|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|     70.0|plymouth satellite""|              18.0|             150.0|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|     70.0|     amc rebel sst""|              16.0|             150.0|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|     70.0|       ford torino""|              17.0|             140.0|
|15.0|      8.0|       429.0|      null|4341.0|        10.0|     70.0|  ford galaxie 500""|              15.0|104.56675062972292|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|     70.0|  chevrolet impala""|              14.0|             220.0|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|     70.0| plymouth fury iii""|              14.0|             215.0|
|14.0|      8.0|       455.0|      null|4425.0|        10.0|     70.0|  pontiac catalina""|              14.0|104.56675062972292|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|     70.0|amc ambassador dpl""|              15.0|             190.0|
|null|      4.0|       133.0|     115.0|3090.0|        17.5|     70.0|citroen ds-21 pal...|23.514572864321615|             115.0|
|null|      8.0|       350.0|     165.0|4142.0|        11.5|     70.0|chevrolet chevell...|23.514572864321615|             165.0|
|null|      8.0|       351.0|     153.0|4034.0|        11.0|     70.0|  ford torino (sw)""|23.514572864321615|             153.0|
|null|      8.0|       383.0|     175.0|4166.0|        10.5|     70.0|plymouth satellit...|23.514572864321615|             175.0|
|null|      8.0|       360.0|     175.0|3850.0|        11.0|     70.0|amc rebel sst (sw)""|23.514572864321615|             175.0|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|     70.0|dodge challenger ...|              15.0|             170.0|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|     70.0|plymouth 'cuda 340""|              14.0|             160.0|
|null|      8.0|       302.0|     140.0|3353.0|         8.0|     70.0|ford mustang boss...|23.514572864321615|             140.0|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|     70.0|chevrolet monte c...|              15.0|             150.0|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|     70.0|buick estate wago...|              14.0|             225.0|
+----+---------+------------+----------+------+------------+---------+--------------------+------------------+------------------+
only showing top 20 rows

+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+------------------+
|summary|               MPG|        CYLINDERS|      DISPLACEMENT|        HORSEPOWER|            WEIGHT|      ACCELERATION|         MODELYEAR|                NAME|          MPG-Out|    HORSEPOWER-Out|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+------------------+
|  count|               398|              406|               406|               397|               406|               406|               406|                 406|              406|               406|
|   mean|23.514572864321615|5.475369458128079| 194.7795566502463|104.56675062972292|2979.4137931034484|15.519704433497521| 75.92118226600985|                null|23.51457286432162|104.56675062972295|
| stddev| 7.815984312565783|1.712159631548529|104.92245837948867|  38.1556978120705| 847.0043282393513|2.8033588163425462|3.7487373454558743|                null|7.738404384193235| 37.72936378506086|
|    min|               9.0|              3.0|              68.0|              46.0|            1613.0|               8.0|              70.0|amc ambassador br...|              9.0|              46.0|
|    max|              46.6|              8.0|             455.0|             230.0|            5140.0|              24.8|              82.0|         vw rabbit""|             46.6|             230.0|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+------------------+

In [17]:
#Removing unnecessary columns
df3.drop(df3['MPG'])
df3.drop(df3['HORSEPOWER'])

DataFrame[MPG: double, CYLINDERS: double, DISPLACEMENT: double, WEIGHT: double, ACCELERATION: double, MODELYEAR: double, NAME: string, MPG-Out: double, HORSEPOWER-Out: double]

### Feature Transformers

Feature transformer transforms the data stored in a data frame and store the data back as a new data frame. This transformation generally takes place by appending one or more columns to the existing data frame. It can be broken down to simple following sequence DataFrame =[transform]=> DataFrame. Transformer methods are generally executed during the step of preparing and processing the data sets. A transformer is a part of Spark ML and is implemented in Java through the Transformer base class. The .transform() method, which is used for transforming one DataFrame to another, is available through this class.

Link to Doumentation - https://spark.apache.org/docs/latest/ml-features.html#feature-transformers

#### Vector Assembler

VectorAssembler is a transformer that combines a given list of columns into a single vector column. It is useful for combining raw features and features generated by different feature transformers into a single feature vector, in order to train ML models like logistic regression and decision trees.

In [18]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler


assembler = VectorAssembler(
    inputCols=["CYLINDERS", "WEIGHT", "HORSEPOWER-Out", "DISPLACEMENT"],
    outputCol="features")

output = assembler.transform(df3)

In [19]:
output['features']

Column<'features'>

#### Standard Scalar

StandardScaler is an Estimator which can be fit on a dataset to produce a StandardScalerModel. It transforms a dataset of Vector rows, normalizing each feature to have unit standard deviation and/or zero mean

In [20]:
from pyspark.ml.feature import StandardScaler

scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures",
                        withStd=True, withMean=False)

In [21]:
Scaled_Model = scaler.fit(output)

In [22]:
scaled_data = Scaled_Model.transform(output)

In [23]:
scaled_data.show()

+----+---------+------------+----------+------+------------+---------+--------------------+------------------+------------------+--------------------+--------------------+
| MPG|CYLINDERS|DISPLACEMENT|HORSEPOWER|WEIGHT|ACCELERATION|MODELYEAR|                NAME|           MPG-Out|    HORSEPOWER-Out|            features|      scaledFeatures|
+----+---------+------------+----------+------+------------+---------+--------------------+------------------+------------------+--------------------+--------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|     70.0|chevrolet chevell...|              18.0|             130.0|[8.0,3504.0,130.0...|[4.67246152320771...|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|     70.0| buick skylark 320""|              15.0|             165.0|[8.0,3693.0,165.0...|[4.67246152320771...|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|     70.0|plymouth satellite""|              18.0|             150.0|[8.0,3436.0,150.0...|[4.67246152320771...|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|     70.0|     amc rebel sst""|              16.0|             150.0|[8.0,3433.0,150.0...|[4.67246152320771...|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|     70.0|       ford torino""|              17.0|             140.0|[8.0,3449.0,140.0...|[4.67246152320771...|
|15.0|      8.0|       429.0|      null|4341.0|        10.0|     70.0|  ford galaxie 500""|              15.0|104.56675062972292|[8.0,4341.0,104.5...|[4.67246152320771...|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|     70.0|  chevrolet impala""|              14.0|             220.0|[8.0,4354.0,220.0...|[4.67246152320771...|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|     70.0| plymouth fury iii""|              14.0|             215.0|[8.0,4312.0,215.0...|[4.67246152320771...|
|14.0|      8.0|       455.0|      null|4425.0|        10.0|     70.0|  pontiac catalina""|              14.0|104.56675062972292|[8.0,4425.0,104.5...|[4.67246152320771...|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|     70.0|amc ambassador dpl""|              15.0|             190.0|[8.0,3850.0,190.0...|[4.67246152320771...|
|null|      4.0|       133.0|     115.0|3090.0|        17.5|     70.0|citroen ds-21 pal...|23.514572864321615|             115.0|[4.0,3090.0,115.0...|[2.33623076160385...|
|null|      8.0|       350.0|     165.0|4142.0|        11.5|     70.0|chevrolet chevell...|23.514572864321615|             165.0|[8.0,4142.0,165.0...|[4.67246152320771...|
|null|      8.0|       351.0|     153.0|4034.0|        11.0|     70.0|  ford torino (sw)""|23.514572864321615|             153.0|[8.0,4034.0,153.0...|[4.67246152320771...|
|null|      8.0|       383.0|     175.0|4166.0|        10.5|     70.0|plymouth satellit...|23.514572864321615|             175.0|[8.0,4166.0,175.0...|[4.67246152320771...|
|null|      8.0|       360.0|     175.0|3850.0|        11.0|     70.0|amc rebel sst (sw)""|23.514572864321615|             175.0|[8.0,3850.0,175.0...|[4.67246152320771...|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|     70.0|dodge challenger ...|              15.0|             170.0|[8.0,3563.0,170.0...|[4.67246152320771...|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|     70.0|plymouth 'cuda 340""|              14.0|             160.0|[8.0,3609.0,160.0...|[4.67246152320771...|
|null|      8.0|       302.0|     140.0|3353.0|         8.0|     70.0|ford mustang boss...|23.514572864321615|             140.0|[8.0,3353.0,140.0...|[4.67246152320771...|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|     70.0|chevrolet monte c...|              15.0|             150.0|[8.0,3761.0,150.0...|[4.67246152320771...|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|     70.0|buick estate wago...|              14.0|             225.0|[8.0,3086.0,225.0...|[4.67246152320771...|
+----+---------+------------+----------+------+------------+---------+--------------------+------------------+------------------+--------------------+--------------------+
only showing top 20 rows

### Pipeline

A pipeline is a series of activities or transformations. Machine learning is performed by implementing a set of tasks, that is collecting the data, cleaning the data, building the model, evaluating the model, etc. All these steps need to be performed one after the other in a particular sequence. In short, a pipeline can be considered as a series of activities wrapped together for better representations. Pipelines primarily have four principal objects- DataFrame, Transformer, Estimator, and Evaluator.

In [24]:
#Initialize a new dataframe
data = df1

In [25]:
#import Pipeline and setting the stages of the pipeline
from pyspark.ml import Pipeline
pipeline =  Pipeline(stages = [imputer,assembler,scaler])

In [26]:
#Use .fit() and .transform() on the pipeline

model = pipeline.fit(data)
Final_output = model.transform(data)

In [27]:
#Output of the pipeline

Final_output.show()

+----+---------+------------+----------+------+------------+---------+--------------------+------------------+------------------+--------------------+--------------------+
| MPG|CYLINDERS|DISPLACEMENT|HORSEPOWER|WEIGHT|ACCELERATION|MODELYEAR|                NAME|           MPG-Out|    HORSEPOWER-Out|            features|      scaledFeatures|
+----+---------+------------+----------+------+------------+---------+--------------------+------------------+------------------+--------------------+--------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|     70.0|chevrolet chevell...|              18.0|             130.0|[8.0,3504.0,130.0...|[4.67246152320771...|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|     70.0| buick skylark 320""|              15.0|             165.0|[8.0,3693.0,165.0...|[4.67246152320771...|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|     70.0|plymouth satellite""|              18.0|             150.0|[8.0,3436.0,150.0...|[4.67246152320771...|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|     70.0|     amc rebel sst""|              16.0|             150.0|[8.0,3433.0,150.0...|[4.67246152320771...|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|     70.0|       ford torino""|              17.0|             140.0|[8.0,3449.0,140.0...|[4.67246152320771...|
|15.0|      8.0|       429.0|      null|4341.0|        10.0|     70.0|  ford galaxie 500""|              15.0|104.56675062972292|[8.0,4341.0,104.5...|[4.67246152320771...|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|     70.0|  chevrolet impala""|              14.0|             220.0|[8.0,4354.0,220.0...|[4.67246152320771...|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|     70.0| plymouth fury iii""|              14.0|             215.0|[8.0,4312.0,215.0...|[4.67246152320771...|
|14.0|      8.0|       455.0|      null|4425.0|        10.0|     70.0|  pontiac catalina""|              14.0|104.56675062972292|[8.0,4425.0,104.5...|[4.67246152320771...|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|     70.0|amc ambassador dpl""|              15.0|             190.0|[8.0,3850.0,190.0...|[4.67246152320771...|
|null|      4.0|       133.0|     115.0|3090.0|        17.5|     70.0|citroen ds-21 pal...|23.514572864321615|             115.0|[4.0,3090.0,115.0...|[2.33623076160385...|
|null|      8.0|       350.0|     165.0|4142.0|        11.5|     70.0|chevrolet chevell...|23.514572864321615|             165.0|[8.0,4142.0,165.0...|[4.67246152320771...|
|null|      8.0|       351.0|     153.0|4034.0|        11.0|     70.0|  ford torino (sw)""|23.514572864321615|             153.0|[8.0,4034.0,153.0...|[4.67246152320771...|
|null|      8.0|       383.0|     175.0|4166.0|        10.5|     70.0|plymouth satellit...|23.514572864321615|             175.0|[8.0,4166.0,175.0...|[4.67246152320771...|
|null|      8.0|       360.0|     175.0|3850.0|        11.0|     70.0|amc rebel sst (sw)""|23.514572864321615|             175.0|[8.0,3850.0,175.0...|[4.67246152320771...|
|15.0|      8.0|       383.0|     170.0|3563.0|        10.0|     70.0|dodge challenger ...|              15.0|             170.0|[8.0,3563.0,170.0...|[4.67246152320771...|
|14.0|      8.0|       340.0|     160.0|3609.0|         8.0|     70.0|plymouth 'cuda 340""|              14.0|             160.0|[8.0,3609.0,160.0...|[4.67246152320771...|
|null|      8.0|       302.0|     140.0|3353.0|         8.0|     70.0|ford mustang boss...|23.514572864321615|             140.0|[8.0,3353.0,140.0...|[4.67246152320771...|
|15.0|      8.0|       400.0|     150.0|3761.0|         9.5|     70.0|chevrolet monte c...|              15.0|             150.0|[8.0,3761.0,150.0...|[4.67246152320771...|
|14.0|      8.0|       455.0|     225.0|3086.0|        10.0|     70.0|buick estate wago...|              14.0|             225.0|[8.0,3086.0,225.0...|[4.67246152320771...|
+----+---------+------------+----------+------+------------+---------+--------------------+------------------+------------------+--------------------+--------------------+
only showing top 20 rows

### Earlier you performed EDA activities using the MPG dataset. As a next step build a Linear Regression Model to predict the mileage (miles per gallon) of car given various other characteristics.

Question 1

What is the r2 score of the model built after the imputing and scaling the dataset?

In [31]:
# Use the transformed dataframe to create our input data 
model_data = Final_output.select(['MPG-Out','scaledFeatures'])
model_data = model_data.withColumnRenamed("MPG-Out", "label")
model_data = model_data.withColumnRenamed("scaledFeatures", "features")
model_data.show(10)

+-----+--------------------+
|label|            features|
+-----+--------------------+
| 18.0|[4.67246152320771...|
| 15.0|[4.67246152320771...|
| 18.0|[4.67246152320771...|
| 16.0|[4.67246152320771...|
| 17.0|[4.67246152320771...|
| 15.0|[4.67246152320771...|
| 14.0|[4.67246152320771...|
| 14.0|[4.67246152320771...|
| 14.0|[4.67246152320771...|
| 15.0|[4.67246152320771...|
+-----+--------------------+
only showing top 10 rows

In [32]:
training, test = model_data.randomSplit([.7, .3])

In [36]:
#Build a linear regression model
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol='features', labelCol='label')
model = lr.fit(training)
model

23/08/07 10:24:51 WARN Instrumentation: [09033a10] regParam is zero, which might cause numerical instability and overfitting.

LinearRegressionModel: uid=LinearRegression_870e431440f4, numFeatures=4

In [37]:
from pyspark.ml.evaluation import RegressionEvaluator
#Find the r2 score of the model
# Make predictions on the test data
predictions = model.transform(test)

# Evaluate the model using R-squared
evaluator = RegressionEvaluator(labelCol='label', predictionCol='prediction', metricName='r2')
r2_score = evaluator.evaluate(predictions)

print("R2 Score:", r2_score)

R2 Score: 0.6957558222782425

Question 2

What is the r2 score of the model built without performing scaling? [Built a model that considers only imputation]

In [38]:
#Initialize a new dataframe
data = df1

In [39]:
#import Pipeline and set the stages of the pipeline
from pyspark.ml import Pipeline
pipeline =  Pipeline(stages = [imputer,assembler])

In [40]:
#Use .fit() and .transform() on the pipeline
model = pipeline.fit(data)
Final_output = model.transform(data)
Final_output.show(10)

+----+---------+------------+----------+------+------------+---------+--------------------+-------+------------------+--------------------+
| MPG|CYLINDERS|DISPLACEMENT|HORSEPOWER|WEIGHT|ACCELERATION|MODELYEAR|                NAME|MPG-Out|    HORSEPOWER-Out|            features|
+----+---------+------------+----------+------+------------+---------+--------------------+-------+------------------+--------------------+
|18.0|      8.0|       307.0|     130.0|3504.0|        12.0|     70.0|chevrolet chevell...|   18.0|             130.0|[8.0,3504.0,130.0...|
|15.0|      8.0|       350.0|     165.0|3693.0|        11.5|     70.0| buick skylark 320""|   15.0|             165.0|[8.0,3693.0,165.0...|
|18.0|      8.0|       318.0|     150.0|3436.0|        11.0|     70.0|plymouth satellite""|   18.0|             150.0|[8.0,3436.0,150.0...|
|16.0|      8.0|       304.0|     150.0|3433.0|        12.0|     70.0|     amc rebel sst""|   16.0|             150.0|[8.0,3433.0,150.0...|
|17.0|      8.0|       302.0|     140.0|3449.0|        10.5|     70.0|       ford torino""|   17.0|             140.0|[8.0,3449.0,140.0...|
|15.0|      8.0|       429.0|      null|4341.0|        10.0|     70.0|  ford galaxie 500""|   15.0|104.56675062972292|[8.0,4341.0,104.5...|
|14.0|      8.0|       454.0|     220.0|4354.0|         9.0|     70.0|  chevrolet impala""|   14.0|             220.0|[8.0,4354.0,220.0...|
|14.0|      8.0|       440.0|     215.0|4312.0|         8.5|     70.0| plymouth fury iii""|   14.0|             215.0|[8.0,4312.0,215.0...|
|14.0|      8.0|       455.0|      null|4425.0|        10.0|     70.0|  pontiac catalina""|   14.0|104.56675062972292|[8.0,4425.0,104.5...|
|15.0|      8.0|       390.0|     190.0|3850.0|         8.5|     70.0|amc ambassador dpl""|   15.0|             190.0|[8.0,3850.0,190.0...|
+----+---------+------------+----------+------+------------+---------+--------------------+-------+------------------+--------------------+
only showing top 10 rows

In [41]:
# Use the transformed dataframe to create our input data 
model_data = Final_output.select(['MPG-Out','features'])
model_data = model_data.withColumnRenamed("MPG-Out", "label")
model_data.show(10)

+-----+--------------------+
|label|            features|
+-----+--------------------+
| 18.0|[8.0,3504.0,130.0...|
| 15.0|[8.0,3693.0,165.0...|
| 18.0|[8.0,3436.0,150.0...|
| 16.0|[8.0,3433.0,150.0...|
| 17.0|[8.0,3449.0,140.0...|
| 15.0|[8.0,4341.0,104.5...|
| 14.0|[8.0,4354.0,220.0...|
| 14.0|[8.0,4312.0,215.0...|
| 14.0|[8.0,4425.0,104.5...|
| 15.0|[8.0,3850.0,190.0...|
+-----+--------------------+
only showing top 10 rows

In [42]:
#Build a new linear regression model

training, test = model_data.randomSplit([.7, .3])

from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol='features', labelCol='label')
model = lr.fit(training)
model

23/08/07 10:33:10 WARN Instrumentation: [f1a49c05] regParam is zero, which might cause numerical instability and overfitting.

LinearRegressionModel: uid=LinearRegression_f8d404c03589, numFeatures=4

In [43]:
#Find the r2 score of the model


from pyspark.ml.evaluation import RegressionEvaluator
# Make predictions on the test data
predictions = model.transform(test)

# Evaluate the model using R-squared
evaluator = RegressionEvaluator(labelCol='label', predictionCol='prediction', metricName='r2')
r2_score = evaluator.evaluate(predictions)

print("R2 Score:", r2_score)

R2 Score: 0.6707018120730233